@import url("https://fonts.googleapis.com/css?family=Poppins:400");

html {
  font-size: 100%;
} /*16px*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

:root {
  --skyblue1: #d7f5f5;
  --skyblue2: #1da1f2;
  --skyblue3: #3180f5;
  --cream: #fbf8f3;
  --opacity05: 0.5;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}
img {
  display: block;
}
a {
  display: block;
  text-decoration: none;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
  background: var(--cream);
}
.header > a {
  color: var(--skyblue3);
  font-style: italic;
  font-weight: bold;
  font-size: 1.5rem;
}

/* HERO */

.hero {
  display: block;
  background: var(--cream);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.hero img {
  width: 100%;
}
.tab-img {
  display: none;
}

.nav {
  width: 80%;
  display: none;
}
.nav a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(8, 7, 7, 0.5);
}
.nav-btn {
  display: none;
}

/* SECTION 1 */

.section1 {
 
  background: var(--cream);
  padding: 2rem 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1.5rem;
}

.section1 h3 {
  font-weight: bolder;
}
.section1 h5 {
  opacity: var(--opacity05);
  line-height: 2rem;
}

.signup-btn {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background: var(--skyblue2);
  padding: 0.8rem 1rem;
  width: 100%;
  margin: 0 auto;
  border-radius: 0.2rem;
  color: white;
  font-weight: bold;
  text-align: center;
}

.sign-up-cont {
  display: flex;
  flex-flow: column;
  gap: 0.8rem;
  align-items: center;
}

.signup-btn img {
  margin-right: 1rem;
  display: none;
}

.sign-up-cont a {
  color: var(--skyblue3);
  font-weight: bold;
  display: flex;
  align-items: center;
}

.right-arrow {
  width: 1.2rem;
  margin-left: 0.5rem;
}

.avatar {
  display: flex;
}

.squeeze-avatar {
  margin-left: -1.2rem;
}

.section1 p span {
  color: var(--skyblue3);
  font-weight: bold;
}

/* SECTION 2 */
.section2 {
  padding: 2rem 1.5rem;
}
.section2 h3 {
  font-weight: bolder;
  margin-bottom: 2rem;
}

.fa-chart-line {
  color: rgba(247, 12, 12, 0.7);
}
.section2-content img {
  width: 2.5rem;
  margin-bottom: 0.5rem;
  background: rgba(250, 250, 250, 0.3);
}
.section2 h5 {
  margin-bottom: 1rem;
}
.section2-content div {
  border: 1px solid rgba(128, 128, 128, 0.5);
  padding: 1.7rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  display: flex;
  flex-flow: column nowrap;
}
.section2-content p {
  opacity: var(--opacity05);
}
.section2-content div h5 {
  font-weight: bold;
}

/* SECTION 3 */

.section3 {
  padding: 2rem 1.5rem;
  background: var(--skyblue1);
}
.section3-cont > div {
  background: white;
  padding: 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  border-radius: 0.3rem;
}

.section3-cont {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.section3 h3 {
  font-weight: bolder;
  margin-bottom: 2rem;
}

.name-ava {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.username {
  display: flex;
  align-items: center;
}
.handle {
  margin-left: 0.5rem;
}
.handle :nth-child(1) {
  font-weight: bolder;
}
.handle :nth-child(2) {
  opacity: 0.5;
}

.comment {
  opacity: 0.5;
}

.like-date {
  display: flex;
  justify-content: space-between;
}
.like-date > div {
  display: flex;
  gap: 0.2rem;
}
.like-date p {
  opacity: 0.5;
}

.name-ava-icon {
  display: none;
}

/* SECTION 4 */

.section4 {
  padding: 2rem 1.5rem;
}

.content1 {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.content1 h2 {
  font-weight: bolder;
  margin-bottom: 0.5rem;
}
.content1 p {
  opacity: 0.5;
}

.pricing {
  border: 1px solid orange;
  border-radius: 0.5rem;
  background: #fbf8f3;
  padding: 1.5rem 1rem;
  width: 80%;
  margin: 0 auto;
}
.pricing-container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.content2 h4,
.content2 h5,
.features p {
  opacity: 0.5;
}

.content2 h1 {
  font-weight: bolder;
}
.content2 > div {
  display: flex;
  align-items: baseline;
}
.content2 {
  margin-bottom: 1rem;
}
.content3 > div {
  margin-bottom: 1rem;
}
.features {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}
.content3 {
  position: relative;
  padding: 0.2rem;
}

.content3::before {
  position: absolute;
  content: "";
  border-top: 1px solid rgba(56, 54, 54, 0.2);
  width: 90%;
  top: 0;
  left: 5%;
}

.content3::after {
  position: absolute;
  content: "";
  border-top: 1px solid rgba(56, 54, 54, 0.2);
  width: 90%;
  bottom: 1rem;
  left: 5%;
}

.features img {
  display: none;
}

/* FOOTER */

.footer {
  padding: 1rem;
  background: var(--skyblue1);
}

.footer-container {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1rem;
}

.footer-container > a {
  color: var(--skyblue3);
  font-style: italic;
  font-size: 1.5rem;
  font-weight: bolder;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-content a {
  color: black;
}

@media screen and (min-width: 760px) {
  .mob-img {
    display: none;
  }
  .tab-img {
    display: block;
  }
  .menu-btn {
    display: none;
  }
  .signup-btn img {
    display: block;
  }
  .features img {
    display: block;
  }

  /* NAV */
  .nav-btn {
    display: flex;
    color: white;
    padding: 1rem;
    background: var(--skyblue2);
    align-items: center;
    border-radius: 0.2rem;
    justify-content: space-around;
  }
  .nav {
    display: flex;
    width: 40%;
  }
  .nav-btn img {
    margin-right: 1rem;
  }

  /* SECTION 1 */
  .signup-btn {
    margin: 0;
    margin-right: 2rem;
    width: auto;
  }

  .signup-btn img {
    display: block;
  }

  .sign-up-cont {
    flex-flow: row;
    justify-content: left;
  }
  .section1 > p {
    width: 70%;
  }

  /* SECTION 2 */

  .section2 h3 {
    width: 60%;
  }

  .section2 h3 {
    display: block;
  }
  .section2 h5 {
    text-align: left;
  }

  /* SECTION3 */

  .section3-cont > div {
    width: 24rem;
  }

  .section3-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    overflow: hidden;
    justify-content: space-between;
  }

  /* SECTION 4 */

  .pricing {
    width: 70%;
    margin: 0 auto;
  }

  .pricing .signup-btn {
    width: 85%;
    margin: 0 auto;
  }

  .content3::before {
    width: 95%;
    left: 2.5%;
  }
  .content3::after {
    width: 95%;
    left: 2.5%;
  }

  /* FOOTER */

  .footer-container {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .footer-content {
    justify-content: space-between;
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  section h3 {
    font-size: 2.5rem;
  }
  .mob-img {
    display: block;
    height: 100%;
    width: 100%;
  }
  .tab-img {
    display: none;
  }

  .header {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 0;
  }
  .hero {
    padding-right: 5rem;
    padding-bottom: 2rem;
    order: 1;
    width: 40rem;
  }

  .desktop-view {
    background: var(--cream);
    display: flex;
    padding-top: 2rem;
    justify-content: space-between;
  }

  /* SECTION 1 */
  .section1 {
    margin-top: 2rem;
    padding-top: 2rem;
    padding-left: 5rem;
    width: 70%;
  }
  .sign-up-cont {
    width: 100%;
  }
  .section1 > p {
    width: 100%;
  }

  /* SECTION 2 */
  .section2 {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .section2-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  /* SECTION 3 */
  .section3 {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .section3-cont {
    display: flex;
    flex-flow: row nowrap;
  }

  .section3-content2 {
    order: 0;
  }

  /* SECTION 4 */
  .pricing {
    width: 40%;
  }

  /* FOOTER */
  .footer {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .footer-content {
    width: 30%;
  }
}
